.footer {
    height: 40px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    padding: 10px 20px;
    background-color: #ecf1ee;
    border-top: 2px solid #23bb6f;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: #333;

    text-align: center;
    z-index: 1000;
}

.footer-text {
  font-weight: 600;
  font-size: 1rem;
}